* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", system-ui, sans-serif;
}

:root {
    --bg: #f2f2f7;
    --navbar: linear-gradient(90deg, #8e44ad, #3498db);
    --card1: linear-gradient(135deg, #fae5ec, #fff5f7);
    --card2: linear-gradient(135deg, #ecf2f5, #eefaff);
    --container: #ffffff99;
}

body {
    background: var(--bg);
    line-height: 1.6;
}

nav {
    background: var(--navbar);
    height: 70px;
    width: 100%;
    text-align: center;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0 4px 15px #00000033;
}

.container {
    width: 88%;
    max-width: 1100px;
    margin: 40px auto;
    background: var(--container);
    backdrop-filter: blur(12px);
    padding: 28px;
    border-radius: 20px;
    box-shadow: 0 10px 30px #00000026;
}

.container h3 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #000000;
    border-left: 5px solid #6366f1;
    padding-left: 12px;
}

.project {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 25px;
}

.card {
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    transition: 0.3s;
    box-shadow: 0 6px 15px #0000001a;
}

.rakshi { background: var(--card1); }
.gnani { background: var(--card2); }

.rakshi:hover { background: #f6d5df; }
.gnani:hover { background: #dff1f9; }

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 12px 25px #00000033;
}

.card h5 {
    text-align: center;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 600;
}

.card p {
    margin: 10px 0;
    font-size: 16px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #0059b2;
}

a:hover {
    text-decoration: underline;
}

.card-links {
     display: flex;
    justify-content: space-between;
}

.card-links a {
    background: #4f46e5;
    color: #ffffff;
    padding: 6px 14px;
    border-radius: 6px;
    font-size: 13px;
}
